.background-image {
    background              : linear-gradient(0deg, rgba(0, 0, 0, .55), rgba(0, 0, 0, 0.55)), url("/images/hero.jpg");
    background-position     : center center;
    background-repeat       : no-repeat;
    // background-attachment: fixed;
    background-size         : cover;
    height                  : 575px;

    /* Flexbox stuff */
    display        : flex;
    justify-content: center;
    align-items    : center;

    /* Text styles */
    text-align: center;
    color     : #ffffff;

    h1 {
        text-transform: uppercase;
        text-shadow   : black;
        font-weight   : bold;
    }
}