.background-image {
    background-image        : url("/images/hero.jpg");
    background-position     : center center;
    background-repeat       : no-repeat;
    // background-attachment: fixed;
    background-size         : cover;
    height                  : 575px;

    /* Flexbox stuff */
    display        : flex;
    justify-content: center;
    align-items    : center;

    /* Text styles */
    text-align: center;
    color     : #ffffff;
}