html,
body {
    width        : 100%;
    height       : 100%;
    margin       : 0px;
    padding      : 0px;
    // overflow-x: hidden;
}

a:hover {
    color          : #969696;
    text-decoration: none;
}

.main {
    // overflow: auto;
}